@{
    ViewData["Title"] = "흑우의 역사";
}

<div class="mainTitle">흑우의 역사</div>

<div>
    <div class="title">1. 黑牛</div>
<pre><span class="title">黑牛(흑우)</span> 
말그대로 털의 빛깔이 검은 [[소]]를 의미한다.</pre>
</div>
 
<div><img src="~/images/bcowhistory.jpg" /></div>

<div>
    <div class="title">2. 인터넷 은어</div>
    <pre>호구라는 단어가 각종 사이트에서 필터링되는 경우가 많아 몇몇 스포츠토토 관련 커뮤니티에서 호구 대신 흑우[1]라는 표현을 썼고, 
겹치는 이용자가 많은 각종 도박 관련 사이트와 주식 커뮤니티에도 널리 퍼져 그 쪽 업계에서 일상적인 표현이 되었다. 
이후 2017년 들어 각종 암호화폐 투자 열풍으로 관련 커뮤니티가 활성화되면서 사용범위가 많이 확대되었고, 디시인사이드를 주축으로 해 
본격적으로 호구를 대체하는 인터넷 용어로 자리잡았다. 조작→주작과 비슷한 케이스

위에 설명한 바와 같이 주로 도박 배팅이나 암호화폐 관련 투자 등에서 돈을 못 벌거나 잃은 사람들을 놀릴 때 사용된 것이 원조.

단어가 유행하게 되면서 흑두루미, 흑인, 흑마늘, 흑돼지, 블랙야크, 블랙앵거스, 블랙 팬서, 블랙말랑카우 등 검거나 '흑'자가 들어가는 아무 단어나 쓴다.
호구짓중에서도 상호구짓을 하는 사람들을 마블링 흑우, 1등급 흑우, 정예 흑우라고 하는 기출변형도 생겼다. 게임 쪽으로 들어가면 소를 닮은 녀석들을 
흑우 대신 사용하기도 한다. 대표적인 케이스가 원래 별명이 까만소였던 흑디아로 디시콘도 나와있다. 제주흑우 짤방을 쓰기도 한다.
용어가 정착된 이후로는 의미가 좀 더 확장되어. 뽑기, 가챠, 랜덤박스, 기타 현질 요소가 있는 게임들에서 원하는 캐릭터나 아이템을 뽑기 위해 돈을 투자했다
 망한 사람들, 물건을 비싸게 산 사람들, 군대를 빼지 못하고 현역으로 가는 사람들, 또는 암호화폐에 수천만원을 꼴아박은 사람들을 자조적으로 놀릴 때 쓰이는
 용어로도 쓰이게 됐다. 위의 살아남은 흑우 짤방이 대표적인 용례.</pre>
</div>

<div><p>출처: <a href="https://namu.wiki/w/흑우" target="_blank">나무위키</a></p></div>