@{
    ViewData["Title"] = "홈";
}

@section Scripts {
    <script>
        $(function () {
            getKRWCoinName();
            //setTimeout(getKRWCoinName, 13000);
        })

        var krw_markets = '';
        var arr_kor_coinName = new Array();
        var arr_eng_coinName = new Array();
        // 모든 코인 이름 가져오기
        function getKRWCoinName() {
            var uri = "https://api.upbit.com/v1/market/all";
            $.ajax({
                type: "GET",
                url: uri,
                cache: false,
                success: function (data) {
                    const tBody = $("#market");
                    $(tBody).empty();
                    var idx = 0;

                    $.each(data, function (key, item) {
                        // 원화 마켓 정보만 표시
                        if (item.market.substring(0, 3) == 'KRW') {
                            const tr = $("<tr></tr>")

                            arr_kor_coinName[idx] = item.korean_name;
                            arr_eng_coinName[idx] = item.english_name;
                            idx += 1;

                            krw_markets += item.market + ",";

                            tr.appendTo(tBody);
                        }
                    });
                    krw_markets = krw_markets.substr(0, krw_markets.length - 1);

                    todos = data;
                }
            }).done(function () {
                getAskingPriceList(krw_markets);
            }).fail(function () {
                alert('API 에러 발생');
            });
        }

        // 코인 가격정보 가져오기
        function getAskingPriceList(krw_markets) {
            var uri = "https://api.upbit.com/v1/ticker";
            $.ajax({
                type: "GET",
                url: uri,
                data: {
                    markets: krw_markets
                },
                cache: false,
                success: function (data) {

                    const tBody = $("#market");
                    $(tBody).empty();
                    $.each(data, function (key, item) {
                        const tr = $("<tr></tr>")
                            .append(
                                $("<td id='" + key + "'>" + arr_kor_coinName[key] + " (" + arr_eng_coinName[key] + ")</td>").append())
                            .append(
                                $("<td></td>").append(
                                    $("<button class='buy'>매수</button>").on("click", function () {
                                        buyCoin(arr_kor_coinName[key]);
                                    })
                                )
                            )
                            .append(
                                $("<td></td>").append(
                                    $("<button class='sell'>매도</button>").on("click", function () {
                                        sellCoin(arr_kor_coinName[key]);
                                    })
                                )
                            )
                            .append(
                                $("<td id='" + key + "'> 현재가: " + item.trade_price + "</td>").append())
                            .append($("<td></td>").text("거래량: " + item.acc_trade_volume));

                        tr.appendTo(tBody);
                    });
                }
            });
        }
    </script>
}

<body>
    <div class="main">
        <h2>흑우 코인 ver 1.0.0</h2>
        <img class="mainImg" src="~/images/bcow.jpg" />
    </div>
    <div id="myAsset"></div>
    <div id="market"></div>
</body>