@{
    ViewData["Title"] = "만든이";
}

<div class="title">만든이</div>


<div class="content">
    <div>
        양천구 <span style="background-color:yellow;">진성 흑우</span> : <a href="http://fow.kr/find/뜸부기">뜸부기</a>
    </div>
    <div>
        <a href="http://fow.kr/find/뜸부기"><img style="max-width:250px;max-height:250px; border-radius:15%;" src="~/images/ddbird.jpg" /></a>
    </div>
</div>